aiohttp==3.6.2
altgraph==0.17
appdirs==1.4.4
asgiref==3.2.5
async-timeout==3.0.1
attrs==19.3.0
auto-py-to-exe==2.7.3
beautifulsoup4==4.8.2
bottle==0.12.18
bottle-websocket==0.2.9
bs4==0.0.1
CacheControl==0.12.6
cachy==0.3.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cleo==0.8.1
click==7.1.2
clikit==0.6.2
colorama==0.4.3
comtypes==1.1.7
converttik==1.0.2
crashtest==0.3.1
cycler==0.10.0
discord.py==1.3.4
distlib==0.3.1
Django==3.0.4
Eel==0.11.0
filelock==3.0.12
Flask==1.1.2
future==0.18.2
fuzzywuzzy==0.18.0
gevent==20.5.2
gevent-websocket==0.10.1
googletrans==3.0.0
greenlet==0.4.15
gTTS==2.1.1
gTTS-token==1.1.3
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.7.22
html5lib==1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.2
keyboard==0.13.5
keyring==21.4.0
kiwisolver==1.2.0
lockfile==0.12.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mouse==0.7.1
MouseInfo==0.1.2
msgpack==1.0.0
multidict==4.7.4
numpy==1.18.3
opencv-python==4.2.0.34
packaging==20.4
pastel==0.2.1
pathtools==0.1.2
pefile==2019.4.18
pexpect==4.8.0
Pillow==7.0.0
pkginfo==1.5.0.1
ptyprocess==0.6.0
PyAudio @ file:///D:/%D0%A1%D1%81%D1%8B%D0%BB%D0%BA%D0%B8/Scripts/Battleship/PyAudio-0.2.11-cp38-cp38-win32.whl
PyAutoGUI==0.9.49
pycparser==2.19
PyGetWindow==0.0.8
pyglet==1.5.5
PyInstaller==3.6
pylev==1.3.0
PyMsgBox==1.0.7
PyNaCl==1.3.0
pyparsing==2.4.7
pyperclip==1.7.0
pypiwin32==223
PyQt5==5.15.0
PyQt5-sip==12.8.0
PyRect==0.1.4
PyScreeze==0.1.26
PySide2==5.14.1
python-dateutil==2.8.1
pyttsx3==2.90
PyTweening==1.0.3
pytz==2019.3
pywin32==227
pywin32-ctypes==0.2.0
qrcode==6.1
requests==2.23.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
selenium==3.141.0
shellingham==1.3.2
shiboken2==5.14.1
six==1.14.0
sniffio==1.1.0
soupsieve==2.0
sqlparse==0.3.1
stun==0.1.2
subprocess32==3.5.4
tomlkit==0.7.0
udp==0.0.6
urllib3==1.25.8
virtualenv==20.0.33
watchdog==0.10.2
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
whichcraft==0.6.1
winshell==0.6
yarl==1.4.2
zope.event==4.4
zope.interface==5.1.0
