a{
	color: #C70039;
	text-decoration: none;
}

.header {
	background-color: #1C2833;
	padding: 50px 630px;
}


.ts {
	left: 45%;
	color: #C70039;
	font-size: 1.7em;
	position: absolute;
	top: 0.9%;
}

td {
	padding: 0px 0px 0px 0px;
	border: 0;
	height: 5px;
}

table {
	font-family: "Open Sans", sans-serif;
	font-size: 10px;
	border:;
	font-style: italic;
	font-weight: bold;
}
.text-top {
    padding: 30px 25px 5px;
    font-family:'Open Sans', sans-serif;
	font-style: italic;
	font-size: 40px;
}

.text-bottom {
	font-family:'Open Sans', sans-serif;
	font-style: italic;
	font-size: 30px;
	padding: 10px 25px 20px;
	height: 24px;
	width: 500px;
}

.school-img{
	width: 483px;
	height: 281px;
	position: absolute;
	left: 50%;
	top: 20%;
}

.nav {
	font-family:'Open Sans', sans-serif;
	font-size: 2em;
	font-weight: bold;
}

.url_title {
	position: absolute;
	left: 7%;
}

.url_students {
	top: 2%;
	position: absolute;
	right: 10%;
}

.dnevnik {
	position: absolute;
	left: 23%;
}

.teachers {
	position: absolute;
	top: 2%;
	right: 30%;
}

.content {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 3em;
	position: absolute;
	top: 30%;
	left: 20%;
}

.footer {
	position: absolute;
	background-color: #1C2833;
	font-family:'Open Sans', sans-serif;
	font-style: italic;
	top: 100%;
	height: 200px;
	width: 1263px;
}

.content-title {
	position: absolute;
	top: 10%;
	width: 100%;
	height: 100%;
}

.pre-footer {
	background-color: #1C2833;
	position: absolute;
	top: 75%;
	width: 1263px;
	height: 5px;
}

.end-font {
	font-family:'Open Sans', sans-serif;
	font-style: italic;
	font-size: 3em;
	position: absolute;
	top: 80%;
	left: 30%;
}

.footer-urls-div-1-1 {
	position: absolute;
	color: white;
	text-decoration: underline;
	left: 1.5%;
	top: 10%;

}
.footer-urls-div-1-2 {
	color: white;
	text-decoration: underline;
	position: absolute;
	left: 1.5%;
	top: 23%;
	
}
.footer-urls-div-1-3 {
	color: white;
	text-decoration: underline;
	position: absolute;
	left: 1.5%;
	top: 35%;
	
}
.footer-urls-div-1-4 {
	text-decoration: underline;
	color: white;
	position: absolute;
	left: 1.5%;
	top: 49%;
	
}
.footer-urls-div-1-5 {
	color: white;
	text-decoration: underline;
	position: absolute;
	left: 1.5%;
	top: 61%;

}

.footer-urls-div-2-1 {
	position: absolute;
	color: white;
	text-decoration: underline;
	left: 23%;
	top: 10%;

}
.footer-urls-div-2-2 {
	color: white;
	text-decoration: underline;
	position: absolute;
	left: 23%;
	top: 23%;
	
}
.footer-urls-div-2-3 {
	color: white;
	text-decoration: underline;
	position: absolute;
	left: 23%;
	top: 35%;
	
}
.footer-urls-div-2-4 {
	text-decoration: underline;
	color: white;
	position: absolute;
	left: 23%;
	top: 49%;
	
}
.footer-urls-div-2-5 {
	color: white;
	text-decoration: underline;
	position: absolute;
	left: 23%;
	top: 61%;

}