a{
	color: #C70039;
	text-decoration: none;
}

.header {
	background: #1C2833;
	color: #1C2833;
	position: absolute;
	width: 100%;
	height: 66px;
}
/* dnevnik begin */

.all_days {
	font-family: "Open Sans", sans-serif;
	font-style: italic;
}

.day-1 {
	position: absolute;
	left: 5%;
	bottom: 68.5%;
}

.day-2 {
	position: absolute;
	left: 30%;
	bottom: 71.5%;
}

.day-3 {
	position: absolute;
	left: 60%;
	bottom: 71.5%;
}

.day-4 {
	position: absolute;
	left: 5%;
	bottom: 35%;
}

.day-5 {
	position: absolute;
	left: 33%;
	bottom: 35%;
}

.day-6 {
	position: absolute;
	left: 60%;
	bottom: 35%;
}

.day_of_week {
	font-size: 2.5em;
	padding: 0px 0px 10px 0px;
	font-weight: bold;
}

.content-day {
	font-size: 2em;
	padding: 3px 3px 0px 3px;
}
/* dnevnik end */

/* students begin  */

.students_title {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 2.3em;
	position: absolute;
	bottom: 97%;
	left: 40%;
}

.students_1 {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	/*font-weight: bold;*/
	font-size: 1.7em;
	position: absolute;
	left: 30%;
	top: 5.5%;
}

.lineer_s {
	background-color: #1C2833;
	width: 100%;
	height: 5px;
	position: absolute;
	top: 4.1%;
}

/* students end */

/* teachers begin */

.column_1 {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 2em;
	left: 3%;
	position: absolute;
}

.column_t {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 1.5em;
	position: absolute;
	top: 5%;
	left: 3%;
}

.lineer {
	background-color: #1C2833;
	width: 5px;
	height: 100%;
	position: absolute;
	left: 55%;
	bottom: 10%;
}

.column_2 {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 2em;
	left: 65%;
	position: absolute;
}

.column_p {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 1.5em;
	position: absolute;
	left: 65%;
	top: 5%;
}

.lineer_2 {
	background-color: #1C2833;
	width: 100%;
	height: 5px;
	position: absolute;
	top: 4.1%;

}

/* teachers end*/

.ts {
	left: 45%;
	color: #C70039;
	font-size: 1.7em;
	position: absolute;
	top: 0.9%;
}

.text-top {
    padding: 30px 25px 5px;
    font-family:'Open Sans', sans-serif;
	font-style: italic;
	font-size: 40px;
}

.text-bottom {
	font-family:'Open Sans', sans-serif;
	font-style: italic;
	font-size: 30px;
	padding: 10px 25px 20px;
	height: 24px;
	width: 500px;
}

.school-img{
	width: 483px;
	height: 281px;
	position: absolute;
	left: 50%;
	top: 20%;
}

.nav {
	font-family:'Open Sans', sans-serif;
	font-size: 2em;
	font-weight: bold;
}

.url_title {
	position: absolute;
	top: 2%;
	left: 7%;
}

.url_students {
	top: 2%;
	position: absolute;
	right: 10%;
}

.dnevnik {
	position: absolute;
	top: 2%;
	left: 23%;
}

.teachers {
	position: absolute;
	top: 2%;
	right: 30%;
}

.content {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 3em;
	position: absolute;
	top: 30%;
	left: 20%;
}

.footer {
	position: absolute;
	background-color: #1C2833;
	font-family:'Open Sans', sans-serif;
	font-style: italic;
	top: 100%;
	height: 200px;
	width: 1263px;
}

.content-title {
	position: absolute;
	top: 10%;
	width: 100%;
	height: 100%;
}

.pre-footer {
	background-color: #1C2833;
	position: absolute;
	top: 75%;
	width: 100%;
	height: 5px;
}

.end-font {
	font-family:'Open Sans', sans-serif;
	font-style: italic;
	font-size: 3em;
	position: absolute;
	top: 80%;
	left: 30%;
}

.footer-urls-div-1-1 {
	position: absolute;
	color: white;
	text-decoration: underline;
	left: 1.5%;
	top: 10%;

}
.footer-urls-div-1-2 {
	color: white;
	text-decoration: underline;
	position: absolute;
	left: 1.5%;
	top: 23%;
	
}
.footer-urls-div-1-3 {
	color: white;
	text-decoration: underline;
	position: absolute;
	left: 1.5%;
	top: 35%;
	
}
.footer-urls-div-1-4 {
	text-decoration: underline;
	color: white;
	position: absolute;
	left: 1.5%;
	top: 49%;
	
}
.footer-urls-div-1-5 {
	color: white;
	text-decoration: underline;
	position: absolute;
	left: 1.5%;
	top: 61%;

}

.footer-urls-div-2-1 {
	position: absolute;
	color: white;
	text-decoration: underline;
	left: 23%;
	top: 10%;

}
.footer-urls-div-2-2 {
	color: white;
	text-decoration: underline;
	position: absolute;
	left: 23%;
	top: 23%;
	
}
.footer-urls-div-2-3 {
	color: white;
	text-decoration: underline;
	position: absolute;
	left: 23%;
	top: 35%;
	
}
.footer-urls-div-2-4 {
	text-decoration: underline;
	color: white;
	position: absolute;
	left: 23%;
	top: 49%;
	
}
.footer-urls-div-2-5 {
	color: white;
	text-decoration: underline;
	position: absolute;
	left: 23%;
	top: 61%;

}