<!DOCTYPE html>
<html>
<head>
	<title>Расписание | 7М класс</title>
	<link rel="stylesheet" href="{{ url_for( 'static', filename='reset.css', v=3)}}">
	<link rel="stylesheet" href="{{ url_for( 'static', filename='style.css', v=3)}}">
</head>
<body>
	<hed class="header"></hed>
	<div class="header-p">
		<font class="url_title" face="Gagalin" size="6"><a href="/home">Главная</a></font>
		<font class="dnevnik" face="Gagalin" size="6"><a href="/dnevnik">Расписание</a></font>
		<font class="ts" face="Gagalin" size="10">7М</font>	
		<font class="ts_back" face="Gagalin" size="10"></font>
		<font class="teachers" face="Gagalin" size="6"><a href="/teachers">Учителя</a></font>
		<font class="url_students" face="Gagalin" size="6"><a href="/students">Ученики</a></font>
	</div>
	<div class="content">
		<font face="Open Sans" size="6">Скоро и тут будет что нибудь...</font>
	</div>
</body>
</html>