{% extends 'base.html' %}


{% block title %}
Расписание | 7М класс
{% endblock %}


{% block body %}
<div class="content-title">
        <div class="all_days">
            <div class="day-1">
                <div class="day_of_week">Понедельник</div>
                <div class="content-day">
                    1.  Русский язык<br />
                    2.  Информатика<br />
                    3.  Биология<br />
                    4.  География<br />
                    5.  Технология<br />
                    6.  Технология<br />
                    7.  Родной язык     
                </div>  
            </div>
            <div class="day-2">
                <div class="day_of_week">Вторник</div>
                <div class="content-day">
                    1.  Физика<br />
                    2.  Русский язык<br />
                    3.  Русский язык<br />
                    4.  Английский язык<br />
                    5.  Общество<br />
                    6.  Физкультура
                </div>
            </div>
            <div class="day-3">
                <div class="day_of_week">Среда</div>
                <div class="content-day">
                    1.  Музыка<br />
                    2.  Дербентоведение<br />
                    3.  Геометрия<br />
                    4.  Информатика<br />
                    5.  Физкультура<br />
                    6.  РТС
                </div>
            </div>
            <div class="day-4">
                <div class="day_of_week">Четверг</div>
                <div class="content-day">
                    1.  Английский язык<br />
                    2.  Физика<br />
                    3.  Алгебра<br />
                    4.  История<br />
                    5.  Русский язык<br />
                    6.  Классный час
                </div>
            </div>
            <div class="day-5">
                <div class="day_of_week">Пятница</div>
                <div class="content-day">
                    1.  И.З.О.<br />
                    2.  География<br />
                    3.  Английский язык<br />
                    4.  Геометрия<br />
                    5.  Литература<br />
                    6.  Родной язык
                </div>
            </div>
            <div class="day-6">
                <div class="day_of_week">Суббота</div>
                <div class="content-day">
                    1.  Алгебра<br />
                    2.  Алгебра<br />
                    3.  История<br />
                    4.  Русский язык<br />
                    5.  Литература<br />
                    6.  Физкультура
                </div>
            </div>
        </div>
{% endblock %}