<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Главная | 7М класс</title>
	<link rel="stylesheet" href="{{ url_for( 'static', filename='css/reset.css', v=3)}}">
	<link rel="stylesheet" href="{{ url_for( 'static', filename='css/style.css', v=3)}}">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,800&display=swap" rel="stylesheet">
</head>
<body>
	<hed class="header"></hed>
	<nav class="nav">
		<a class="url_title" href="/home">Главная</a>
		<a href="/dnevnik" class="dnevnik">Расписание</a>
		<p class="ts">7M</p>	
		<div class="ts_back"></div>
		<a href="/teachers" class="teachers">Учителя</a>
		<a href="/students" class="url_students">Ученики</a>
	</nav>
	<div class="content-title">
		<table class="table table-responsive table-bordered table-hover" style="margin-left: 5px; width: 400px; border: 2px solid #aaaaaa;" border="1" >
<tbody>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="text-align: center; margin-right: 28pt; margin-left: 28pt; text-align: center;"><strong>Пн</strong>
		</p>
	</td>
	<td>
		<p style="text-align: center; margin-right: 28pt; margin-left: 28pt; text-align: center;"><strong>Вт</strong>
		</p>
	</td>
	<td>
		<p style="text-align: center; margin-right: 28pt; margin-left: 28pt; text-align: center;"><strong>Ср</strong>
		</p>
	</td>
	<td>
		<p style="text-align: center; margin-right: 28pt; margin-left: 28pt; text-align: center;"><strong>Чт</strong>
		</p>
	</td>
	<td>
		<p style="text-align: center; margin-right: 28pt; margin-left: 28pt; text-align: center;"><strong>Пт</strong>
		</p>
	</td>
	<td>
		<p style="text-align: center; margin-right: 28pt; margin-left: 28pt; text-align: center;"><strong>Сб</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Русский язык</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Физика</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Музыка</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Английский язык</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Изобразительное</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Алгебра</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>искусство</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Каграманян Л.Ю.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Зиятханова Л.Г.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Алекперова Д.К.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Гусейнова С.Г.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Гюрджян Е.С.</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Абдуллаева С.И.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p style="text-align: right; margin-right: pt; margin-left: 0cm; text-align: right;"><strong>1</strong><strong></strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Информатика и ИКТ</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Русский язык</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Дербентоведение</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Физика</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>География</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Алгебра</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Гюрджян Е.С.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Каграманян Л.Ю.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Ильясова Э.Н.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Зиятханова Л.Г.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Мехтиева Г.Э.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Гюрджян Е.С.</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p style="text-align: right; margin-right: pt; margin-left: 0cm; text-align: right;"><strong>2</strong><strong></strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Биология</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Русский язык</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Геометрия</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Алгебра</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Английский язык</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>История</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Акберова М.А.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Каграманян Л.Ю.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Гюрджян Е.С.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Гюрджян Е.С.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Гусейнова С.Г.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Ахмедова З.А.</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p style="text-align: right; margin-right: pt; margin-left: 0cm; text-align: right;"><strong>3</strong><strong></strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>География</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Английский язык</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Информатика и ИКТ</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>История</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Геометрия</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Русский язык</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Мехтиева Г.Э.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Гусейнова С.Г.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Гюрджян Е.С.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Ахмедова З.А.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Гюрджян Е.С.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Каграманян Л.Ю.</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p style="text-align: right; margin-right: pt; margin-left: 0cm; text-align: right;"><strong>4</strong><strong></strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Технология</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Обществознание</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Физическая культура</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Русский язык</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Литература</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Литература</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Подгруппа девочки</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Овчарова О.А.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Ахмедова З.А.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Курбанов Н.А.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Каграманян Л.Ю.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Каграманян Л.Ю.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Каграманян Л.Ю.</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Технология</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Подгруппа мальчики</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Айриян Г.В.</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p style="text-align: right; margin-right: pt; margin-left: 0cm; text-align: right;"><strong>5</strong><strong></strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Технология</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Физическая культура</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>РТС</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Классный час.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Родной язык</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Физическая культура</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Подгруппа девочки</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Гюрджян Е.С.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Подгруппа азерб.яз</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Весь класс</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Овчарова О.А.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Курбанов Н.А.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Гюрджян Е.С.</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Амрахова Т.Р.</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Курбанов Н.А.</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Технология</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Родной язык</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Подгруппа мальчики</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Подгруппа лезг.яз</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Айриян Г.В.</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Гасретова Ф.Г.</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Родной язык</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Подгруппа табас.яз</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Амирасланова Ш....</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Родной язык</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Подгруппа русс-родн</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Аминова Г.Н.</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p style="text-align: right; margin-right: pt; margin-left: 0cm; text-align: right;"><strong>6</strong><strong></strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Родной язык</strong>
		</p>
	</td>
	<td rowspan="16">
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td rowspan="16">
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td rowspan="16">
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td rowspan="16">
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td rowspan="16">
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-left: 1pt;"><strong>Подгруппа азерб.яз</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-left: 1pt;"><strong>Амрахова Т.Р.</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Родной язык</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-left: 1pt;"><strong>Подгруппа лезг.яз</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-left: 1pt;"><strong>Гасретова Ф.Г.</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Родной язык</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-left: 1pt;"><strong>Подгруппа табас.яз</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-left: 1pt;"><strong>Амирасланова Ш....</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-right: 0cm; margin-left: 1pt;"><strong>Родной язык</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-left: 1pt;"><strong>Подгруппа русс-родн</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p><strong></strong>
		</p>
		<p><strong> </strong>
		</p>
	</td>
	<td>
		<p style="margin-left: 1pt;"><strong>Аминова Г.Н.</strong>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p style="text-align: right; margin-right: pt; margin-left: 0cm; text-align: right;"><strong>7</strong><strong></strong>
		</p>
	</td>
	<td>
		<p style="margin-left: 1pt;"><strong>Нет кабинета</strong>
		</p>
	</td>
</tr>
</tbody>
</table>
<p><br>
</p>
	</div>
		<footer class="footer">
		<div name="div-1">
			<a href="https://derbent19.edusite.su/" class="footer-urls-div-1-1">Сайт школы МБОУ СОШ №19</a>
			<a href="https://dnevnik.ru/" class="footer-urls-div-1-2">Дербент</a>
			<a href="#" class="footer-urls-div-1-3">Example 3</a>
			<a href="#" class="footer-urls-div-1-4">Example 4</a>
			<a href="https://ru.wikipedia.org/wiki/%D0%94%D0%B5%D1%80%D0%B1%D0%B5%D0%BD%D1%82" class="footer-urls-div-1-5">Г.Дербент</a>
		</div>
		<div name="div-2">
			<a href="" class="footer-urls-div-2-1">Example 1</a>
			<a href="" class="footer-urls-div-2-2">Example 2</a>
			<a href="" class="footer-urls-div-2-3">Example 3</a>
			<a href="" class="footer-urls-div-2-4">Example 4</a>
			<a href="" class="footer-urls-div-2-5">Example 5</a>
		</div>
	</footer>
</body>
</html>