{% extends 'base.html' %}


{% block title %}
Главная | 7М класс
{% endblock %}


{% block body %}
<div class="content-title">
    <div class="text-top">
            Привет, Ученик!
    </div>
    <div class="text-bottom">
            Ты попал на главную страницу сайта 7 М класса МБОУ СОШ №19
            города Дербент. Тут ты можешь узнать наше расписание, список учителей, список учеников.<br />
        Этот сайт я сделал для удобного использования нашим классом. Ты пока осматривайся, а я пойду по своим делам.
    </div>
    </div>
    <img class="school-img" src="https://i.ibb.co/gMrbn3N/Whats-App-Image-2020-10-29-at-19-32-30.jpg" alt="Whats-App-Image-2020-10-29-at-19-32-30" border="0">
    <div class="pre-footer"></div>
    <p class="end-font"><a href="/edu">Домашние задания тут!</a></p>
{% endblock %}
