<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Главная | 7М класс</title>
	<link rel="stylesheet" href="{{ url_for( 'static', filename='css/reset.css', v=3)}}">
	<link rel="stylesheet" href="{{ url_for( 'static', filename='css/style.css', v=3)}}">
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
	<hed class="header"></hed>
	<nav class="nav">
		<font class="url_title" face="Gagalin" size="6"><a href="/home">Главная</a></font>
		<font class="dnevnik" face="Gagalin" size="6"><a href="/dnevnik">Расписание</a></font>
		<font class="ts" face="Gagalin" size="10">7М</font>	
		<font class="ts_back" face="Gagalin" size="10"></font>
		<font class="teachers" face="Gagalin" size="6"><a href="/teachers">Учителя</a></font>
		<font class="url_students" face="Gagalin" size="6"><a href="/students">Ученики</a></font>
	</nav>
	<div class="content-title">
	<div class="text-top">
		<font face="Open Sans" size="6">
			Привет, Путник!
		</font>
	</div>
	<div class="text-bottom">
		<font face="Open Sans" size="6">
			Ты попал на главную страницу сайта 7 М класса МБОУ СОШ №19
			города Дербент. Тут ты можешь узнать наше расписание, список учителей, список учеников.<br />
		Этот сайт я сделал для удобного использования нашим классом. Ты пока осматривайся, а я пойду по своим делам.
	</font>
	</div>
	</div>
	<img class="school-img" src="https://i.ibb.co/N91bYTC/img-school_2.jpg" alt="img-school-2" border="0">
	<div class="pre-footer"></div>
	<font face="Open Sans" size="10" class="end-font">А тебе удачи в школе!</font>
	<footer class="footer">
		<div name="div-1">
			<a href="#" class="footer-urls-div-1-1"><font face="Open Sans">Сайт школы МБОУ СОШ №19</font></a>
			<a href="#" class="footer-urls-div-1-2"><font face="Open Sans">Example 2</font></a>
			<a href="#" class="footer-urls-div-1-3"><font face="Open Sans">Example 3</font></a>
			<a href="#" class="footer-urls-div-1-4"><font face="Open Sans">Example 4</font></a>
			<a href="#" class="footer-urls-div-1-5"><font face="Open Sans">Г.Дербент</font></a>
		</div>
		<div name="div-2">
			<a href="" class="footer-urls-div-2-1"><font face="Open Sans">Example 1</font></a>
			<a href="" class="footer-urls-div-2-2"><font face="Open Sans">Example 2</font></a>
			<a href="" class="footer-urls-div-2-3"><font face="Open Sans">Example 3</font></a>
			<a href="" class="footer-urls-div-2-4"><font face="Open Sans">Example 4</font></a>
			<a href="" class="footer-urls-div-2-5"><font face="Open Sans">Example 5</font></a>
		</div>
	</footer>
</body>
</html>