{% extends 'base.html' %}


{% block title %}
Главная | 7М класс
{% endblock %}


{% block body %}
<div class="content-title">
    <div class="text-top">
            Привет, Путник!
    </div>
    <div class="text-bottom">
            Ты попал на главную страницу сайта 7 М класса МБОУ СОШ №19
            города Дербент. Тут ты можешь узнать наше расписание, список учителей, список учеников.<br />
        Этот сайт я сделал для удобного использования нашим классом. Ты пока осматривайся, а я пойду по своим делам.
    </div>
    </div>
    <img class="school-img" src="https://i.ibb.co/N91bYTC/img-school_2.jpg" alt="img-school-2" border="0">
    <div class="pre-footer"></div>
    <p class="end-font">А тебе удачи в школе!</p>
{% endblock %}