{% extends 'base.html' %}


{% block title %}
Ученики | 7М класс
{% endblock %}


{% block body %}
<div class="content-title">
		<div class="students_title">Ученики 7М</div>
		<div class="lineer_s"></div>
		<div class="students_1">
			1. Абдурахманов Саид Магомедович<br />
			2 .Амиргамзаева Алина Шахбанкадиевна<br />
			3. Асланов Ислам Эдвинович<br />
			4. Варданян Анна Эдгаровна<br />
			5. Гаджиев Кадыр Мурадович<br />
			6. Гасанбекова Амина Артуровна<br />
			7. Исакова Амина Демировна<br />
			8. Казиев Руслан Тагирович<br />
			9. Казиева Амина Айдыновна<br />
			10. Карабеков Загидин Казибекович<br />
			11. Магомедов Марат Владимирович (это Я)<br />
			12. Махмудов Рустам Ренатович<br />
			13. Мирзеханов Гаджимурад Иминуллахович<br />
			14. Рагимханов Ислам Асланович<br />
			15. Рамазанова Бесханум Вагифовна<br />
			16. Рамазанова Малика Маратовна<br />
			17. Савзиханов Магомедзагир Маратович<br />
			18. Сефербекова Алина Рустамовна<br />
			19. Степанян Артур Суренович<br />
			20. Шахбанов Саид Рамисович<br />
			21. Энгибарова Армида Арсеновна 
		</div>
 
</div>
{% endblock %}